/* Estilos para el slider */
.hero-container {
    position: absolute;
    top: 80px; /* Deja espacio para el menú */
    width: 100%;
    height: calc(100% - 50px); /* Resta el alto del menú */
    overflow: hidden;
}

.slider-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.item-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.item {
    width: 200px;
    height: 300px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

    &:nth-child(1), &:nth-child(2) {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: none;
        border-radius: 0;
        box-shadow: none;
        opacity: 1;
    }

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 220px); }
    &:nth-child(5) { left: calc(50% + 440px); }
    &:nth-child(6) { left: calc(50% + 660px); opacity: 0; }
}

.content {
    width: min(30vw,400px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica,sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0,0,0,0.5);
    opacity: 0;
    display: none;

    & .title {
        font-family: 'arial-black';
        text-transform: uppercase;
    }

    & .description {
        line-height: 1.7;
        margin: 1rem 0 1.5rem;
        font-size: 0.8rem;
        
    }

    & button {
        width: fit-content;
        background-color: rgba(0, 0, 0, 0.767);
        color: white;
        border: 2px solid white;
        border-radius: 0.25rem;
        padding: 0.75rem;
        cursor: pointer;
    }
}

.item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
    0% {
        filter: blur(5px);
        transform: translateY(calc(-50% + 75px));
    }
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.prev-nav {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 40px - 10px); /* Ajusta la posición horizontal del contenedor del botón "Prev" */
    z-index: 5;
    user-select: none;
}

.next-nav {
    position: absolute;
    bottom: 10px;
    right: calc(50% - 40px - 10px); /* Ajusta la posición horizontal del contenedor del botón "Next" */
    z-index: 5;
    user-select: none;
}


.prev-btn,
.next-btn {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: rgba(255, 255, 255, 0.7); /* Cambia el color al acercar el mouse */
}

.prev-btn:focus,
.next-btn:focus {
    outline: none; /* Quita el borde al hacer clic */
}


@media (max-width: 900px) and (min-width: 650px) {
    .content .title        { font-size: 1rem; }
    .content .description  { font-size: 0.7rem; }
    .content button        { font-size: 0.7rem; }

    .item {
        width: 160px;
        height: 270px;

        &:nth-child(3) { left: 50%; }
        &:nth-child(4) { left: calc(50% + 170px); }
        &:nth-child(5) { left: calc(50% + 340px); }
        &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
    }
}

@media (max-width: 650px) {
    .content .title        { font-size: 0.9rem; }
    .content .description  { font-size: 0.65rem; }
    .content button        { font-size: 0.7rem; }

    .item {
        width: 130px;
        height: 220px;

        &:nth-child(3) { left: 50%; }
        &:nth-child(4) { left: calc(50% + 140px); }
        &:nth-child(5) { left: calc(50% + 280px); }
        &:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
    }
}
